<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% if title %}
    <title>{{ title }} - Codex</title>
    {% else %}
    <title>Codex</title>
    {% endif %}
  </head>

  <body>
    <div class="sidebar">
      <a href="index.html">Home</a>
      <a href="rules/index.html">Rules</a>
      <a href="char_sheet/char_sheet.html">Character Sheet</a>
      <a href="perks/index.html">Perks</a>
      <a href="bestiary/index.html">Bestiary</a>
      <a href="items/index.html">Items</a>
    </div>
    <div class="login">
      {% if logname %}
        <p>Hello, {{ logname }}</p>
      {% else %}
        <p><a href="">Log in here</a></p>
      {% endif %}
    </div>
    {% block content %}{% endblock %}
  </body>


</html>