{% extends "base.html" %}

{% block content %}
  <h1>Codex</h1>
  <h2>Introduction</h2>
    <p>Cold Iron is a d20 system for a low-medium fantasy RPG, with fairly detailed combat and character progression through plot advancement and roleplay.</p>
    <p>It comes with its own setting, but the system should be easy enough to change to fit another one. Units are in the metric system.</p>
    <p><a href="dev_blog.html">Dev Blog</a></p>
    <p>Check out the source at <a href="https://github.com/xiaohuynh/Codex"><img border="0" alt="Github" src="https://i.ytimg.com/vi/OEGm7LXAN_c/maxresdefault.jpg" width="70" style="vertical-align: middle"></a></p>
{% endblock %}