body {
  background-color: lightsteelblue;
}

#fileio {
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}

#basic-info {
  width: 240px;
  padding: 10px;
}

#spamfic {
  padding: 5px;
  margin-left: 5px;
}

#combat-stats {
  margin-top: 53px;
  padding: 5px;
}

.info-category {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content:center;
  align-items:center;
  padding: 0 auto;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"]{
  width: 40px;
  text-align: center;
}

table {
  text-align: center;
}

